:root {
    --color-0: #0d0b08; /* black */

    --color-1: #393939; /* dark grey */
    --color-2: #636363; /* light gray */
    --color-3: #FF5A09; /* deep orange */
    --color-4: #F3843E; /* light orange */
    --color-5: #FF9900; /* orange yellow */

    --color-brown: rgba(171, 89, 9, 0.9);
    --color-gray: rgb(68, 63, 63);

    --color-hover: #f7d4a3;

    --color-beige-1: #ecddd5;
    --color-beige-2: #c1b4ad;
    --color-beige-3: #afa39d;
}

body {
    /*background: url("../img/background.jpg") no-repeat center center fixed;*/
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--color-0);

    font-family: Helvetica Neue, sans-serif;

    /*The fixed navbar will overlay your other content, unless you add padding to the top of the body.*/
    padding-top: 65px;
    padding-bottom: 40px;
}

td, th {
    border-bottom: 1px solid var(--color-1);
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: var(--color-beige-2);
}

tr:nth-child(even) {
    background-color: var(--color-beige-3);
}

tr:hover {
    background-color: var(--color-beige-1);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--color-brown);
    color: white;
}

td.race-column {
    width: 15%;
}

/** Main Styles **/

.site-header {
    background-color: var(--color-brown);
}

.main_title {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    color: var(--color-3);
    border: solid 1px var(--color-brown);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: var(--color-1);
    margin-bottom: 10px;
    margin-top: 10px;
}

.heading_h1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    color: var(--color-brown);
    vertical-align: middle;
    margin: 0;
}

.content-area {
    background-color: #c1b4ad
}

/** Race Icons */
.race-icon {
    width: 35px;
    height: 35px;
    background-size: cover;
}

.race-0 {
    background-image: url('../img/races/0.png');
}

.race-1 {
    background-image: url('../img/races/1.png');
}

.race-2 {
    background-image: url('../img/races/2.png');
}

.race-3 {
    background-image: url('../img/races/3.png');
}

.race-4 {
    background-image: url('../img/races/4.png');
}

.race-5 {
    background-image: url('../img/races/5.png');
}

.race-6 {
    background-image: url('../img/races/6.png');
}

/** Text **/

.text-wrap {
    word-wrap: break-word;
}

.text-overflow {
    text-overflow: ellipsis;
}

/** Paddings **/
.padding-top-60 {
    padding-top: 60px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-1 {
    padding-top: 1px;
}

.padding-top-2 {
    padding-top: 2px;
}

.padding-top-3 {
    padding-top: 3px;
}

.padding-right-1 {
    padding-right: 1px;
}

.padding-right-2 {
    padding-right: 2px;
}

.padding-right-3 {
    padding-right: 3px;
}

.padding-right-5 {
    padding-right: 5px;
}

/** NavBar **/
.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

.dropdown-menu {
    min-width: 300px;
}

.user-chat-thumbnail {
    width: 25px;
    height: 25px;
}
