.deck-details-container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.deck-details-left {
    width: 300px;
}

.deck-details-right {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 800px;
    margin-left: 10px;
}

@media (max-width: 1200px) {
    .table {
        width: 100% !important;
    }

    .deck-details-right {
        width: 100% !important;
        margin-left: 0;
    }
}

.table {
    border-collapse: separate;
    border-spacing: 0 3px;
}

.table-cell {
    vertical-align: bottom;
    z-index: 10;
    position: relative
}

.card-cost {
    background-image: url("../img/cost-hexagon.png");
    background-repeat: no-repeat;
    background-position: left 2px bottom 1px;
    text-align: center;
    width: 30px;
    font-weight: 600;
    font-size: 16px;
    text-shadow: 1px 1px 1px black;
    padding-left: 5px;

    border-radius: 5px 0 0 5px;
}

.card-name {
    /*text-shadow: 0 1px 1px black;*/
}

.card-copies {
    background: #4b6373;
    color: yellow;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    width: 28px;
    border-radius: 0 5px 5px 0;
    padding-bottom: 4px;
    text-shadow: 1px 1px 1px black;
}

.card-row {
    width: 300px;
    height: 35px;
}

.gradient_overlay {
    position: absolute;
    z-index: 0;
    display: block;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    /*background: linear-gradient(140deg, var(--color-beige-1) 60%, #4b6373 90%);*/
}

.mana-curve-container {
    width: 48%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-card-background-title);
    color: black;
    border-radius: 5px;
    text-align: center;
}

.analysis-container {
    font-size: 18px;

    width: 48%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-card-background-title);
    color: black;
    border-radius: 5px;
    text-align: center;
}

.comments-container {
    width: 98%;
    min-height: 50%;
    padding: 15px;

    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;

    background-color: var(--color-card-background-title);
    color: black;
    border-radius: 5px;
    text-align: center;
}

.races-container {
    display: inline-block;
}

.races-deck-detail {
    float: right;
    margin-right: 5px;
    text-align: right;
    margin-bottom: 0;
    color: black;
}