{% extends "views/base.html" %}
{% load staticfiles i18n %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/deck_list.css" %}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main_title">
            <h1 class="heading_h1">Fist of Truth Deck Lists</h1>
        </div>

        {#<div id="filters"></div>#}

        <div>
            <table class="decks-table">
                <tbody id="decksTableBody">
                <tr>
                    <th>Races</th>
                    <th>Name</th>
                    {#<th>Type</th>#}
                    {#<th>Curve</th>#}
                    {#<th>Stats</th>#}
                    {#<th>Rating</th>#}
                    {#<th>Views</th>#}
                    {#<th>Date</th>#}
                </tr>
                {% for deck in object_list %}
                    <tr>
                        <td class="race-column">
                            {% for deck_race in deck.get_deck_races %}
                                <div style="float: left; margin-right: 10px;">
                                    <img class="img-fluid race-icon race-{{ deck_race.0 }}"/>
                                    {{ deck_race.1 }}
                                </div>
                            {% endfor %}
                        </td>
                        {# TODO: Make whole row clickable  #}
                        <td><a href="{{ deck.id }}" class="nav-link"><strong class="deck-name">{{ deck.name }}</strong></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}