{% extends "views/base.html" %}
{% block content %}

    <div id="filters-container" class="container">
        {# name & text filter #}
        <input type="text" id="text-filter" placeholder="Search" onkeyup="updateCards()"/>

        {# race filter #}
        <label for="race-filter">Race</label>
        <select id="race-filter" style="width: 200px;" onChange="updateCards()">
            <option value="All">All</option>
            {% for i, race in races %}
                <option value={{ i }}>{{ race }}</option>
            {% endfor %}
        </select>

        {# cost filter #}
        <label for="cost-filter">Cost</label>
        <select id="cost-filter" style="width: 70px;" onChange="updateCards()">
            <option value="All">All</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6+</option>
        </select>

        {# checkbox filters #}
        <input type="checkbox" name="unit" id="unit-filter" checked onchange="updateCards()">
        <label for="unit-filter">Units</label>

        <input type="checkbox" name="spell" id="spell-filter" checked onchange="updateCards()">
        <label for="spell-filter">Spells</label>

        <input type="checkbox" name="rare" id="rare-filter" onchange="updateCards()">
        <label for="rare-filter">High Class Cards Only</label>

    </div>

    {# cards #}
    <div class="container">
        <div class="row">
            <div id="cards-container" class="col-8">

            </div>
            <div id="deck-container" class="col-4">
                <input type="text" id="deck-name" placeholder="Deck Name (required)" value="New Deck"/>
                <div id="deck-cards-container">

                </div>
                <button type='button' class='btn btn-primary' onclick='saveDeck()'>Save</button>
            </div>
        </div>

    </div>

    {% csrf_token %}
    <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var totalCards = 0;
        var deckCards = JSON.parse('{{ deck_cards | escapejs }}');
        var deckCardNames = [];
        for (cardName in deckCards) {
            deckCardNames.push(cardName)
            totalCards += deckCards[cardName]
        }
        $("#deck-name").val('{{ deck_name }}');
        var allCards = JSON.parse('{{ cards | escapejs }}');

        function updateCards() {
            $("#cards-container").empty();

            var race = $("#race-filter").val();
            var cost = $("#cost-filter").val();
            var bIncludeUnits = $("#unit-filter").prop('checked');
            var bIncludeSpells = $("#spell-filter").prop('checked');
            var bOnlyRare = $("#rare-filter").prop('checked');
            var text = $("#text-filter").val().toLowerCase();

            for (var card of allCards) {
                if (cost == 'All' || card['cost'] == cost || card['cost'] >= 6 && cost >= 6) {
                    if (race == 'All' || card['race'] == race) {
                        card_type = card['card_type'];
                        if (card_type == 0 && bIncludeUnits || card_type == 1 && bIncludeSpells) {
                            if (!bOnlyRare || card['rarity'] > 1) {
                                if (!text || card['name'].toLowerCase().includes(text) || card['text'].toLowerCase().includes(text)) {
                                    $("#cards-container").append(cardHTML(card));
                                }
                            }
                        }
                    }
                }
            }

            $('.deckbuilder-card').click(function (evt) {
                var cardID = $(this).attr('id');
                console.log("Selected card " + cardID);
                if (totalCards < 30) {
                    if (deckCards[cardID]) {
                        if (deckCards[cardID] < 3) {
                            deckCards[cardID] = deckCards[cardID] + 1;
                            totalCards += 1
                        }
                    } else {
                        totalCards += 1;
                        deckCards[cardID] = 1;
                        deckCardNames.push(cardID);
                    }
                }
                updateDeck()
            })
        }

        function updateDeck() {
            var container = $("#deck-cards-container");
            container.empty();

            for (var card of allCards) {
                cardName = card['name'];
                if (deckCardNames.indexOf(cardName) > -1) {
                    var number = deckCards[cardName];
                    if (number > 0) {
                        result = "<div class='deck-card' id='" + cardName + "'>" + number + " " + cardName + "</div>";
                        container.append(result);
                    }
                }
            }
            container.append("<div class='deck-count'>" + totalCards + "/30</div>");

            $('.deck-card').click(function (evt) {
                var clicked = evt.target;
                var cardID = clicked.id;
                if (deckCards[cardID]) {
                    deckCards[cardID] = deckCards[cardID] - 1;
                    totalCards -= 1;
                    if (deckCards[cardID]) {
                        console.log("Removed 1 " + cardID);
                    } else {
                        deckCardNames.splice(deckCardNames.indexOf(cardID), 1);
                        console.log("Removed card " + cardID);
                    }
                }
                updateDeck()
            })
        }

        $("#deck-name").keyup(function (evt) {
            var input = $(this);
            var text = input.val();
            console.log(text);
            if (text) {
                input.removeClass("invalid");
            }
            else {
                input.addClass("invalid");
            }
        });

        function cardHTML(card) {
            card_name = "<b>" + card['name'] + "</b>";
            switch (card['rarity']) {
                case 0:
                    card_name_in_rarity = "<font color='gray'>" + card_name + "</font>";
                    break;
                case 2:
                    card_name_in_rarity = "<font color='blue'>" + card_name + "</font>";
                    break;
                case 3:
                    card_name_in_rarity = "<font color='purple'>" + card_name + "</font>";
                    break;
                case 4:
                    card_name_in_rarity = "<font color='orange'>" + card_name + "</font>";
                    break;
                default:
                    card_name_in_rarity = card_name;
            }
            id = card['name'];
            result = '<div class="deckbuilder-card" style="display: block;" id="' + id + '">(" + card["cost"] + ") ';
            result += card_name_in_rarity;
            if (card['attack'] != null) {
                result += " " + card['attack'] + "/" + card['defense']
            }
            result += " " + card['text'];
            card_url = "/static/" + card['art'];
            if (card['art']) {
                return '<img src="' + card_url + '" id="' + id + '" class="img-fluid deckbuilder-card">';
            } else {
                return '<img src="/static/img/default/card_image.png" id="' + id + '" class="img-fluid deckbuilder-card">'
            }
            return result + '<div>'
        }

        function saveDeck() {
            console.log('Saving Deck...');
            deckName = $("#deck-name").val();
            if (!deckName) {
                $("#deck-name").focus();
                return
            }
            data = {
                'name': deckName,
                'cards': deckCards,
            };

            updatingDeck = false;
            if ('{{ deck_id }}') {
                // Updating Deck
                $.ajax({
                    type: "POST",
                    url: '/deckbuilder/{{ deck_id }}/',
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (response) {
                        console.log("SUCCESS", response);
                        window.location.href = response['message']
                    }, error: function (msg) {
                        console.log("ERROR", msg)
                    }
                });
            } else {

                // New Deck
                $.ajax({
                    type: "POST",
                    url: '/deckbuilder/',
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (response) {
                        console.log("SUCCESS", response);
                        window.location.href = response['message']
                    }, error: function (msg) {
                        console.log("ERROR", msg)
                    }
                });
            }

        }

        $(document).ready(function () {
            updateCards();
            updateDeck();
        });
    </script>


{% endblock %}

