{% extends "views/base.html" %}
{% load staticfiles i18n %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/deck_list.css" %}"/>
    <link rel="stylesheet" href="{% static "css/deck_detail.css" %}"/>
    <link rel="stylesheet" href="{% static "css/deckbuilder.css" %}"/>
{% endblock %}

{% block content %}

    <div id="filters-container" class="container">
        {# name & text filter #}
        <input type="text" id="text-filter" placeholder="Search" onkeyup="updateCards()"/>

        {# race filter #}
        <label for="race-filter">Race</label>
        <select id="race-filter" style="width: 200px;" onChange="updateCards()">
            <option value="All">All</option>
            {% for i, race in races %}
                <option value={{ i }}>{{ race }}</option>
            {% endfor %}
        </select>

        {# cost filter #}
        <label for="cost-filter">Cost</label>
        <select id="cost-filter" style="width: 70px;" onChange="updateCards()">
            <option value="All">All</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6+</option>
        </select>

        {# checkbox filters #}
        <input type="checkbox" name="unit" id="unit-filter" checked onchange="updateCards()">
        <label for="unit-filter">Units</label>

        <input type="checkbox" name="spell" id="spell-filter" checked onchange="updateCards()">
        <label for="spell-filter">Spells</label>

        <input type="checkbox" name="rare" id="rare-filter" onchange="updateCards()">
        <label for="rare-filter">High Class Cards Only</label>

    </div>

    {# cards #}
    <div class="row">
        <div id="cards-container"></div>
        <div id="deck-container">
            <input type="text" id="deck-name" placeholder="Deck Name (required)" value="New Deck"/>
            <div id="deck-cards-container" class="table"></div>
            <button type='button' class='btn btn-primary' onclick='saveDeck()'>Save</button>
        </div>
    </div>

    {% csrf_token %}
    <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var totalCards = 0;
        var deckCards = JSON.parse('{{ deck_cards | escapejs }}');
        var deckCardNames = [];
        for (cardName in deckCards) {
            deckCardNames.push(cardName)
            totalCards += deckCards[cardName]
        }
        $("#deck-name").val('{{ deck_name }}');
        var allCards = JSON.parse('{{ cards | escapejs }}');

        function setupCards() {
            for (var card of allCards) {
                $("#cards-container").append(imageCardHTML(card));
            }

            $('.deckbuilder-card').click(function (evt) {
                var cardID = $(this).attr('id');
                console.log("Selected card " + cardID);
                if (totalCards < 30) {
                    if (deckCards[cardID]) {
                        if (deckCards[cardID] < 3) {
                            deckCards[cardID] = deckCards[cardID] + 1;
                            totalCards += 1
                        }
                    } else {
                        totalCards += 1;
                        deckCards[cardID] = 1;
                        deckCardNames.push(cardID);
                    }
                }
                updateDeck()
            })
        }

        function updateCards() {
            var race = $("#race-filter").val();
            var cost = $("#cost-filter").val();
            var bIncludeUnits = $("#unit-filter").prop('checked');
            var bIncludeSpells = $("#spell-filter").prop('checked');
            var bOnlyRare = $("#rare-filter").prop('checked');
            var text = $("#text-filter").val().toLowerCase();

            for (var card of allCards) {
                hideCard = true;
                if (cost == 'All' || card['cost'] == cost || card['cost'] >= 6 && cost >= 6) {
                    if (race == 'All' || card['race'] == race) {
                        card_type = card['card_type'];
                        if (card_type == 0 && bIncludeUnits || card_type == 1 && bIncludeSpells) {
                            if (!bOnlyRare || card['rarity'] > 1) {
                                if (!text || card['name'].toLowerCase().includes(text) || card['text'].toLowerCase().includes(text)) {
                                    hideCard = false;
                                }
                            }
                        }
                    }
                }
                if (hideCard) {
                    $(document.getElementById(card['name'])).hide()
                } else {
                    $(document.getElementById(card['name'])).show()
                }
            }
        }

        // Returns the HTML formatting of a card image in the card picking zone
        function imageCardHTML(card) {
            id = card['name'];
            if (card['art']) {
                card_url = "/static/" + card['art'];
            } else {
                card_url = "/static/img/default/card_image.png"
            }
            return '<img src="' + card_url + '" id="' + id + '" class="img-fluid deckbuilder-card">';
        }

        function updateDeck() {
            var container = $("#deck-cards-container");
            container.empty();

            for (var card of allCards) {
                cardName = card['name'];
                if (deckCardNames.indexOf(cardName) > -1) {
                    var number = deckCards[cardName];
                    if (number > 0) {
                        container.append(deckCardHTML(card, number));
                    }
                }
            }
            container.append("<div class='deck-count'>" + totalCards + "/30</div>");

            $('.deck-card').click(function (evt) {
                var clicked = evt.target;
                var cardID = clicked.id;
                if (deckCards[cardID]) {
                    deckCards[cardID] = deckCards[cardID] - 1;
                    totalCards -= 1;
                    if (deckCards[cardID]) {
                        console.log("Removed 1 " + cardID);
                    } else {
                        deckCardNames.splice(deckCardNames.indexOf(cardID), 1);
                        console.log("Removed card " + cardID);
                    }
                }
                updateDeck()
            })
        }

        // Returns the HTML formatting of a card in the deck list
        function deckCardHTML(cardData, number) {
            cardName = cardData['name'];
            cardRarity = cardData['rarity'];
            cardCost = cardData['cost'];
            //card_name_in_rarity = "<div class='card-rarity-" + card['rarity'] + "'>" + card_name + "</div>";
            cardClasses = "table-cell card-name card-rarity-" + cardRarity;
            result =
                "<div class='deck-card table-row card-row'>" +
                {#"   <div class='gradient_overlay'></div>" +#}
                "   <div class='table-cell card-cost'>" + cardCost + "</div>" +
                "       <div id='" + cardName + "' class='" + cardClasses + "'>" +
                "            <b>" + cardName + "</b>" +
                "       </div>" +
                "   <div class='table-cell card-copies'>" + number + "</div>" +
                "</div>";
            return result
        }

        $("#deck-name").keyup(function (evt) {
            var input = $(this);
            var text = input.val();
            console.log(text);
            if (text) {
                input.removeClass("invalid");
            }
            else {
                input.addClass("invalid");
            }
        });

        function saveDeck() {
            console.log('Saving Deck...');
            deckName = $("#deck-name").val();
            if (!deckName) {
                $("#deck-name").focus();
                return
            }
            data = {
                'name': deckName,
                'cards': deckCards,
            };

            updatingDeck = false;
            if ('{{ deck_id }}') {
                // Updating Deck
                $.ajax({
                    type: "POST",
                    url: '/deckbuilder/{{ deck_id }}/',
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (response) {
                        console.log("SUCCESS", response);
                        window.location.href = response['message']
                    }, error: function (msg) {
                        console.log("ERROR", msg)
                    }
                });
            } else {

                // New Deck
                $.ajax({
                    type: "POST",
                    url: '/deckbuilder/',
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (response) {
                        console.log("SUCCESS", response);
                        window.location.href = response['message']
                    }, error: function (msg) {
                        console.log("ERROR", msg)
                    }
                });
            }

        }

        $(document).ready(function () {
            setupCards();
            updateDeck();
        });
    </script>
{% endblock %}
