{% extends "views/base.html" %}
{% load staticfiles i18n %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/deck_list.css" %}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main_title">
            <h1 class="heading_h1">Fist of Truth Deck Lists</h1>
        </div>

        {#<div id="filters"></div>#}

        <div class="table">
            <div class="table-row">
                <div class="table-header-cell">
                    Races
                </div>
                <div class="table-header-cell">
                    Name
                </div>
                {#<th>Type</th>#}
                {#<th>Curve</th>#}
                {#<th>Stats</th>#}
                {#<th>Rating</th>#}
                {#<th>Views</th>#}
                {#<th>Date</th>#}
            </div>

            {% for deck in object_list %}
                <a class="table-row" href="{{ deck.id }}">
                    <div class="table-cell race-column">
                        {% for deck_race in deck.deck_races %}
                            <div style="float: left; margin-right: 10px;">
                                <img class="img-fluid race-icon race-{{ deck_race.0 }}"/>
                                {{ deck_race.1 }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="table-cell name-column">
                        <div class="deck-name">{{ deck.name }}</div>
                        <div class="deck-user">
                            {% if deck.user %}
                                by {{ deck.user }}
                            {% else %}
                                by Anonymous
                            {% endif %}
                        </div>

                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}