{% extends "views/base.html" %}
{% load staticfiles i18n %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/deck_list.css" %}"/>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="main_title">
            <h1 class="heading_h1">Galaxy Maps List</h1>
        </div>

        <div id="filters-container" class="container">
            {# name filter #}
            <input type="text" id="text-filter" placeholder="Search" onkeyup="updateMaps()"/>

            {# checkbox filters #}
            {# <input type="checkbox" name="final" id="final-filter" onchange="updateMaps()"> #}
            {# <label for="final-filter">Final Mission</label> #}
        </div>

        <div class="container" id="maps-container">

        </div>
    </div>

    <script type="text/javascript">
        var maps = JSON.parse('{{ maps | escapejs }}');

        function updateMaps() {
            container = $("#maps-container");
            container.empty();
            var text = $("#text-filter").val().toLowerCase();

            for (map of maps){
                if (!text || map['name'].toLowerCase().includes(text)) {
                    container.append(mapHTML(map));
                }
            }
        }

        function mapHTML(galaxy_map){
            result = "<div class='row galaxy-map-row' style='height: 185px;'>";
            result += "<div style='width: 25%; display: flex; align-items: center; justify-content: center; '>";
            result += "<a href='" + galaxy_map['id'] + "'>";
            result += "<strong>" +  galaxy_map['name'] + "</strong></div></a>";
            result += "<div style='width: 75%;'>";
            if (galaxy_map['cards'].length) {
                for (let i = 0; i < galaxy_map['cards'].length; i++) {
                    card_data = galaxy_map['cards'][i];
                    if (card_data['art']) {
                        card_url = "/static/" + card_data['art'];
                        result +=  '<img src="' + card_url + '" class="img-fluid deckbuilder-card">'
                    } else {
                        result += '<img src="/static/img/default/card_image.png" class="img-fluid deckbuilder-card">';
                    }
                }
            }
            result += "</div>";
            return result
        }

        $(document).ready(function () {
            updateMaps();
        })
    </script>

{% endblock %}