{% extends 'views/base.html' %}
{% load staticfiles i18n %}

{% block title %}Login{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock stylesheets %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <form class="form-signin" action="{% url 'login' %}" method="POST">
        <h1 class="h5 font-weight-normal">Please sign in</h1>
        {% csrf_token %}
        <div class="form-group has-feedback">
            <input type="text" name="{{ form.username.html_name }}"
                   class="form-control" placeholder="Email or Username" required autofocus>

            <span class="fa fa-envelope form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="{{ form.password.html_name }}"
                   class="form-control" placeholder="Password" required>
            <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
        <div class="social-signup">
            <p class="social-signup-title">
                <span>Or login with</span>
            </p>
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-social btn-facebook">
                <i class="fa fa-facebook" title="Facebook"></i>Facebook
            </a>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-social btn-google">
                <img src="{% static "img/google-icon.svg" %}" alt="Google" height="13">
                Google
            </a>
        </div>
        <div class="panel-footer" style="text-align: center;">
            Don't have an account? <a href="{% url 'register' %}" class="redirect-link"> Register Here </a>
        </div>
        <div class="panel-footer" style="text-align: center;">
            <a href="{% url 'recover_password' %}" class="redirect-link">Lost your password?</a>
        </div>
    </form>
{% endblock content %}

{% block javascript_footer %}

{% endblock javascript_footer %}
